
#left {
	float: left;
	width: 40%;  
	padding: 1%; 
	margin: 1%;
	border-style: dotted;
}


#right {
	float: left; 
	width: 21%; 
	padding: 1%; 
	margin: 1%;
	border-style: dotted;
	
}	

#pin {
	float: left; 
	width: 21%; 
	margin: 1%;
	padding: 1%;
	border-style: dotted;
	
}

body {
	width: 80%;
	margin: auto;
}

