/*
#left {
	float: left;
	width: 49%;  
	padding: 1%; 
	margin: 1%;
	border-style: dotted;
}


#right {
	float: left; 
	width: 17%; 
	padding: 1%;  
	margin: 1%;
	border-style: dotted;
	
}	

#pin {
	float: left; 
	width: 17%; 
	padding: 1%; 
	margin: 1%;
	border-style: dotted;
	
}

body {
	width: 80%;
	margin: auto;
}

.image {
	padding: 1%;
	margin: 1%;
	border-style: dotted;
}
*/

#left {
	float: left;
	margin: 3%;
	padding: 3%;
	width: 37%;
	border-style: double;
}

#right {
	float: left;
	margin : 3%;
	padding: 3%;
	width: 37%;
	border-style: double;
}